<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Country List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Country List</ion-title>
        </ion-toolbar>
    </ion-header>
    <ngx-datatable class="material" [limit]="10" [rows]="countries" [rowHeight]="50" [columns]="columns" [columnMode]="'force'" [sortType]="'multi'" [headerHeight]="50" [footerHeight]="50">
    </ngx-datatable>

</ion-content>